<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoby</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <img class="nav_background" src="assets/nav_background.png" alt="background image">
            <div class="menu_buttons">
                <figure class="menu_icon_container">
                    <img src="assets/menu_icon.png" alt="">
                </figure>

                <figure class="header_logo_container">
                    <img src="assets/header_logo.png" alt="">
                    <p class="logo_name">ADOBY</p>
                </figure>
            
            </div>
        </nav>
    </header>

    <main>
        <img src="assets/hero_background.png" alt="" class="hero_background">

        <section class="hero_container">
            <h1 class="main_title">¡Crea diseños atractivos y úncos </br id="title_mobile_br">
                usando adoby!</h1>
            <h2 class="main_subtitle">Accede a una prueba gratuita del paquete que elijas <br>
                y prepárate para diseñar experiencias de <br>
                usuario increíbles!</h2>

            <div class="adoby_products_container">
                <img class="adoby_products" src="assets/adoby_products.svg" alt="">
            </div>
            <div class="download_btn_container">
                <a href="" class="download_it_btn">¡Descargalo Ya!</a>
            </div>

        </section>

        <section class="benefits">
            <h3 class="benefits_title">Descubre los beneficios <br>
                de diseñar con <br>
                adoby</h3>
            <figure class="see_more_container">
                <img src="assets/see_more.png" alt="">
            </figure>

            <div class="benefits_container">
                <div class="two_benefits_top">

                    <div class="align_benefit">
                        <img src="/assets/benefits_support.svg" alt="">
                        <div class="benefit_text">
                            <h4 class="benefit_title">Soporte técnico</h4>
                            <p class="benefit_subtitle">24 horas al día</p>
                        </div>
                    </div>
                    <div class="align_benefit">
                        <img src="/assets/benefits_tools.svg" alt="">
                        <div class="benefit_text">
                            <h4 class="benefit_title">Featured Tools for Design</h4>
                            <p class="benefit_subtitle">Con las últimas herramientas</p>
                        </div>
                    </div>

                </div>



                <div class="benefits_container">
                    <div class="two_benefits_bottom">
    
                        <div class="align_benefit">
                            <img src="/assets/benefits_cloud.svg" alt="">
                            <div class="benefit_text">
                                <h4 class="benefit_title">Respalda tus diseños</h4>
                                <p class="benefit_subtitle">Con Adoby Cloud Storage <br>
                                    300gb</p>
                            </div>
                        </div>
                        <div class="align_benefit">
                            <img src="/assets/benefits_library.svg" alt="">
                            <div class="benefit_text">
                                <h4 class="benefit_title" style="text-align:center;">Acceso a Adoby <br>
                                    Art Library</h4>
                            </div>
                        </div>
    
                    </div>
                
            </div>            
        </section>

        <section class="downloads_container">
            <h3 class="downloads_title">Accede a las descargas <br>
                Y comienza a diseñar <br>
                algo único</h3>
            <figure class="see_more_container">
                <img src="assets/see_more.png" alt="">
            </figure>

            <div class="downloads_wrapper">
                <div class="downloads_menu">

                    <div class="downloads_menu_btn downlod_free_btn">
                        <div class="download_name">
                            <div class="green_point"></div>
                            <p class="download_title">Free</p>
                            <img class="selected_download_icon" src="/assets/selected_download.png" alt="">
                        </div>
                    </div>

                    <div class="downloads_menu_btn download_premium_btn premium_active_menu">
                        <div class="download_name">
                            <div class="blue_point"></div>
                            <p class="download_title">Premium</p>
                            <img class="selected_download_icon" src="/assets/selected_download.png" alt="">
                        </div>
                    </div>

                    <div class="downloads_menu_btn download_gold_btn">
                        <div class="download_name">
                            <div class="gold_point"></div>
                            <p class="download_title">Gold</p>
                            <img class="selected_download_icon" src="/assets/selected_download.png" alt="">
                        </div>
                    </div>

                    
                </div>


                <div class="download_to_display">
                    <hr class="left_decorator">

                    <div class="download_options_wrapper">

                        <div class="download_options_container">
                            <img class="downloads_icon" src="assets/downloads_products/ht_icon.svg" alt="">
                            <p class="download_description">Adoby UL: Retoca tus imágenes <br>
                                antes de publicar</p>
                            <button class="gold_subscription_btn">Suscríbete</button>
                            <button class="gold_trial_btn">Prueba Gratis</button>
                            <p class="downloads_number">150 descargas</p>
                        </div>
                    
                        <div class="download_options_container">
                            <img class="downloads_icon" src="assets/downloads_products/cl_icon.svg" alt="">
                            <p class="download_description">Adoby UL: Retoca tus imágenes <br>
                                antes de publicar</p>
                            <button class="gold_subscription_btn">Suscríbete</button>
                            <button class="gold_trial_btn">Prueba Gratis</button>
                            <p class="downloads_number">150 descargas</p>
                        </div>
 
                    </div>
                                        
                    <hr class="right_decorator">                    
                </div>

            </div>
        </section>

    </main>

    <footer></footer>

    <script src="js/index.js" type="module"></script>
</body>
</html>