<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoby</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <img class="nav_background" src="assets/nav_background.png" alt="background image">
            <div class="menu_buttons">
                <figure class="menu_icon_container">
                    <img src="assets/menu_icon.png" alt="">
                </figure>

                <figure class="header_logo_container">
                    <img src="assets/header_logo.png" alt="">
                    <p class="logo_name">ADOBY</p>
                </figure>
            
            </div>
        </nav>
    </header>

    <main>
        <img src="assets/hero_background.png" alt="" class="hero_background">

        <section class="hero_container">
            <h1 class="main_title">¡Crea diseños atractivos y úncos </br id="title_mobile_br">
                usando adoby!</h1>
            <h2 class="main_subtitle">Accede a una prueba gratuita del paquete que elijas <br>
                y prepárate para diseñar experiencias de <br>
                usuario increíbles!</h2>

            <div class="adoby_products_container">
                <img class="adoby_products" src="assets/adoby_products.svg" alt="">
            </div>
            <div class="download_btn_container">
                <a href="" class="download_it_btn">¡Descargalo Ya!</a>
            </div>

        </section>

        <section class="benefits">

        </section>

    </main>

    <footer></footer>

    <script src="js/index.js" type="module"></script>
</body>
</html>