/********************** GENERAL STYLES */
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
figure{
    margin: 0;
}
p{
    margin: 0;
}
.display-none{
    display: none;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items:center;
}


/********************** HEADER */
.navbar{
    background-color: #0C3BF1;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.356);
    height: 71px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.nav_background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 71px;
}
.menu_buttons{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 0 35px;
    position: relative;
    z-index: 3;
}

.header_logo_container{
    display: flex;  
}
.header_logo_container img{
    height: 28px;
    width: 28px;
}
.menu_icon_container img{
    width: 36px;
    height: 24px;
}
.logo_name{
    font-size: 18px; 
    font-weight: 600;
    margin: 0;
    color: #E8E8E8;
    margin-left: 10px;
    margin-top: 3px;
}



/********************** MAIN CONTENT */
.main_title{
    font-size: 20px;
    color: #2A2A2A;
}
.hero_container{
    padding: 50px;
    position: relative;
}
.main_subtitle{
    color: #616161;
    font-size: 13px;    
    margin-right: -3px;
}
.hero_background{
    position: absolute;
    right: 0;
}
.adoby_products_container{
    margin-top:47px; 
    margin-bottom: 70px; 
}
.download_it_btn{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(11,29,38,1) 0%, rgba(49,136,223,1) 0%, rgba(49,110,172,1) 100%);
    border-radius: 3px;
    font-size: 17px;
    font-weight: 600;
    color: #F9F9F9;
    text-decoration: none;
    padding: 11px 80px;
}
.download_btn_container{
    width: 100%;
    display: flex;
    justify-content: center;
}




/********************** BENEFITS */
.benefits{
    padding: 30px 40px 0px 40px;
}
.benefits_title, .downloads_title{
    color: #585858;
    text-align: center;
}
.see_more_container{
    display: flex;
    justify-content:center;
}


.benefit_title{
    color: #707070;
    margin: 0;
    font-size: 12px;
}
.benefit_subtitle{
    color: #A4A4A4;
    font-weight: 600;
    font-size: 9px;
    margin: 0;
}
.two_benefits_top{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 24px;    
}
.two_benefits_bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 80px; 
    margin-bottom: 80px;
}

.align_benefit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefit_text{
    margin-top: 5px;
}




/********************** DOWNLOADS SECTION */
.download_name{
    display: flex;
    align-items: center;    
}
.download_title{
    font-size: 15px;
    font-weight: 600;
    color: #585858;
}
.downloads_wrapper{
    margin-top: 48px;
}
.downloads_menu{
    display: flex;
    justify-content: space-between;
    padding: 0px 4%;
}
.downloads_menu_btn{
    width: 119px;
    height: 74px;
    background-color: #F5F9FB;
    border-radius: 9px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.253);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.selected_download_icon{
    position: absolute;
    bottom: 0;
    left: calc(50% - 10px);
    margin-bottom: -33px;
    visibility: hidden;
}

.d-active_menu{
    background-color: #3681D6;
}
.d-active_menu p{
    color: #F2F2F2;
}
.d-active_menu .selected_download_icon{
    visibility:visible;
}

.green_point{
    height: 4px;
    width: 4px;
    background-color: #18C40C;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 4px;
}
.gold_point{
    height: 4px;
    width: 4px;
    background-color: #C48D0C;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 4px;
}
.blue_point{
    height: 4px;
    width: 4px;
    background-color: #0C7AC4;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 4px;
}
.download_to_display{
     display: flex;
     position: relative;
}